:root {
  --bg: rgba(0, 0, 0, 0);
  --bgh: rgba(0, 0, 0, 0.5);
  --fc: white;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@font-face {
  font-family: Avant;
  src: url("ITCAvantGardePro-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  border: none;
}
html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  background: #000;
  font-family: Avant;
  overflow: hidden;
}
.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--fc);
  font-size: 1.2rem;
  position: fixed;
  background: rgba(11, 11, 11, 0.1);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "section1 section3"
    "section2 section4";
}
.section1 > h4 {
  width: 33.333%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  place-items: center;
  font-size: 1.5rem;
  transition: 0.5s;
}
.section1 > h4:hover {
  background-color: var(--bgh);
}
.money {
  border-radius: 50px 0 0 50px;
}
.speed {
  border-radius: 0 50px 50px 0;
}
.section1 {
  margin: 1.2%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  grid-area: section1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  gap: 0px 0px;
}
.section2 {
  grid-area: section2;
  display: flex;
  place-items: center;
  place-content: center;
}
.section3 {
  margin: 1.2%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  grid-area: section3;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  justify-content: center;
  place-items: center;
}
.section3 > h4 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
}
.upgrades-button {
  border-radius: 50px 0 0 50px;
}
.story-button {
  border-radius: 0 50px 50px 0;
}
.section4 {
  grid-area: section4;
  margin: 1.2%;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
}
.money {
  grid-area: money;
}
.distance {
  grid-area: distance;
}
.section3 > h4 {
  background-color: var(--bg);
  color: var(--fc);
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.section3 > h4:hover {
  background-color: var(--bgh);
}
.rocket-button {
  width: 100%;
  height: 100%;
  background: center no-repeat url("https://raw.githubusercontent.com/logyQT/space-clicker/main/images/default_spaceship_low_res.png");
  background-size: cover;
  animation: rocket 1.5s linear 0s infinite alternate;
}
@keyframes rocket {
  0% {
    background-position: -50px;
    background-size: 97%;
  }
  25% {
    background-position: -25px;
    background-size: 98%;
  }
  50% {
    background-position: 0px;
    background-size: 100%;
  }
  75% {
    background-position: 25px;
    background-size: 98%;
  }
  100% {
    background-position: 50px;
    background-size: 97%;
  }
}

.hidden {
  display: none;
}
.section4 {
  max-height: 100%;
  overflow: scroll;
}
.section4::-webkit-scrollbar {
  display: none;
}
.upgrade {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100px;
  grid-template-areas: ". . . .";
  transition: 0.5s;
}
.upgrade:hover {
  background-color: var(--bgh);
}
.upgrade > p {
  padding: 6px;
  display: flex;
  text-align: center;
  justify-content: center;
  place-items: center;
  font-size: 1.5rem;
}
.options-page {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px;
  grid-template-areas: ". .";
}
.options-page > button {
  background-color: var(--bg);
  color: var(--fc);
  padding: 8px;
  transition: 0.5s;
}
.options-page > button:hover {
  background-color: var(--bgh);
}
.background {
  position: absolute;
  height: 10000px;
  width: 100%;
  right: 0;
  bottom: 0;
  animation: background 7s linear infinite;
  background-image: url("https://raw.githubusercontent.com/logyQT/space-clicker/main/images/background.jpg");
  background-repeat: repeat-y;
  transform: translate3d(0, 0, 0);
}
@keyframes background {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 2000px, 0);
  }
}
@media (orientation: portrait) {
  .container {
    font-size: medium;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 50% 10% 30%;
    grid-template-areas:
      "section1"
      "section2"
      "section3"
      "section4";
  }
  .section1 > h4 {
    font-size: 1.4rem;
  }
  .rocket-button {
    animation-duration: 2s;
  }
  .background {
    background-image: url("https://raw.githubusercontent.com/logyQT/space-clicker/main/images/background_mobile.jpg");
  }
}
