/* misc */
:root {
  --bg: rgba(0, 0, 0, 0);
  --bgh: rgba(0, 0, 0, 0.3);
  --bga: rgba(255, 255, 255, 0.05);
  --fc: white;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hidden {
  display: none;
}
@font-face {
  font-family: Avant;
  src: url("ITCAvantGardePro-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  border: none;
}
html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  background: #000;
  font-family: Avant;
  overflow: hidden;
}
.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--fc);
  font-size: 1.2rem;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "section1 section3"
    "section2 section4";
}
.background {
  position: absolute;
  height: 10000px;
  width: 100%;
  right: 0;
  bottom: 0;
  animation: background 7s linear infinite;
  background-image: url("https://raw.githubusercontent.com/logyQT/space-clicker/main/images/galaxy.jpg");
  /* background-image: url("https://raw.githubusercontent.com/logyQT/space-clicker/main/images/background.jpg"); */
  background-repeat: repeat;
  transform: translate3d(0, 0, 0);
}
@keyframes background {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 2000px, 0);
  }
}

/* section1, money, distance, speed */

.section1 {
  margin: 1.2%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  grid-area: section1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  gap: 0 0;
  grid-template-areas: ". . .";
  justify-content: center;
  place-items: center;
}
.section1 > h4 {
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
.section1 > h4:hover {
  background-color: var(--bgh);
}
.money {
  border-radius: 25px 0 0 25px;
}
.speed {
  border-radius: 0 25px 25px 0;
}

/* section2, rocket */

.section2 {
  grid-area: section2;
  display: flex;
  place-items: center;
  place-content: center;
}
.rocket-button {
  width: 100%;
  height: 100%;
  background: center no-repeat url("https://raw.githubusercontent.com/logyQT/space-clicker/main/images/default_spaceship_low_res.png");
  background-size: cover;
  animation: rocket 1.5s linear 0s infinite alternate;
  filter: brightness(80%);
}
@keyframes rocket {
  from {
    background-position: -50px;
    background-size: 97%;
  }
  to {
    background-position: 50px;
    background-size: 97%;
  }
}

/* section3 buttons */

.section3 {
  margin: 1.2%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  grid-area: section3;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  gap: 0 0;
  grid-template-areas: ". . .";
  justify-content: center;
  place-items: center;
}
.section3 > h4 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  background-color: var(--bg);
  color: var(--fc);
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.section3 > h4:hover {
  background-color: var(--bgh);
}
.shop-button {
  border-radius: 25px 0 0 25px;
}
.story-button {
  border-radius: 0 25px 25px 0;
}

/* section4 shop-area options-area story-area */

.section4 {
  grid-area: section4;
  margin: 1.2%;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
}
.shop-page {
  height: 100%;
  display: grid;
  grid-template-rows: 50px calc(100% - 50px);
  grid-template-areas:
    "."
    ".";
}
.buy-ammount > ul {
  list-style-type: none;
  display: grid;
  grid-template-areas: ". . . . . .";
  height: 50px;
  background-color: var(--bga);
  border-radius: 25px 25px 0 0;
}
.buy-ammount > ul > li {
  display: flex;
  justify-content: center;
  place-items: center;
  transition: 0.5s;
}
.buy-ammount > ul > li:first-of-type {
  border-radius: 25px 0 0 0;
}
.buy-ammount > ul > li:last-of-type {
  border-radius: 0 25px 0 0;
}
.buy-ammount > ul > li:hover {
  background-color: var(--bgh);
}

/* upgrade page  */

.upgrade-page {
  display: grid;
  height: 100%;
  grid-auto-rows: 100px;
  grid-auto-columns: 100%;
  overflow: scroll;
  border-radius: 0 0 25px 25px;
}
.upgrade-page::-webkit-scrollbar {
  display: none;
}
.upgrade:nth-child(even) {
  background-color: var(--bga);
}
.upgrade {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  grid-template-areas: ". . . .";
  transition: 0.5s;
}
.upgrade:hover {
  background-color: var(--bgh);
}
.upgrade > p {
  padding: 6px;
  display: flex;
  text-align: center;
  justify-content: center;
  place-items: center;
  font-size: 1.5rem;
}
/* options page  */

.options-page {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 100px 100px 200px;
  grid-template-areas:
    "save restart"
    "import export"
    "iearea iearea"
    "autosave autosave";
  overflow: scroll;
  border-radius: 25px;
}
.options-page::-webkit-scrollbar {
  display: none;
}
.options-page > h4 {
  color: var(--fc);
  display: flex;
  justify-content: center;
  place-items: center;
  transition: 0.5s;
}
.options-page > h4:hover {
  background-color: var(--bgh);
}
.save-button {
  grid-area: save;
}
.restart-button {
  grid-area: restart;
}
.import-button {
  grid-area: import;
  background-color: var(--bga);
}
.export-button {
  grid-area: export;
  background-color: var(--bga);
}
.import-export-area {
  grid-area: iearea;
  background-color: var(--bg);
  color: var(--fc);
  padding: 1%;
  border: none;
  outline: none;
  resize: none;
  text-decoration: none;
}
.import-export-area::-webkit-scrollbar {
  display: none;
}
.import-export-area:hover,
.import-export-area:focus {
  background-color: var(--bgh);
}
.autosave-title {
  grid-area: title;
}
.autosave {
  grid-area: autosave;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  gap: 0 0;
  grid-template-areas:
    "title title title title"
    ". . . .";
}
.autosave > h4 {
  color: var(--fc);
  display: flex;
  justify-content: center;
  place-items: center;
  transition: 0.5s;
}
.autosave > h4:first-of-type {
  background-color: var(--bga);
}
.autosave > h4:hover {
  background-color: var(--bgh);
}
/* story page  */

.story-page {
  padding: 20px;
}

/* mobile stuff  */

@media (orientation: portrait) {
  .container {
    font-size: medium;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 50% 10% 30%;
    grid-template-areas:
      "section1"
      "section2"
      "section3"
      "section4";
  }
  .section1 > h4 {
    font-size: 1.3rem;
  }
  .section3 > h4 {
    font-size: 1.4rem;
  }
  .upgrade > p {
    font-size: 1.2rem;
  }
  .rocket-button {
    animation-duration: 2s;
  }
}
